<mjml>
  <mj-head>
    <mj-font name="Open Sans" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" />

    <mj-attributes>
      <mj-text font-family="Open Sans" />
    </mj-attributes>
  </mj-head>

  <mj-body>
    <mj-section background-color="#f8fafc">
      <mj-column>
        <mj-text align="center" font-size="16px" color="black">{{ applicationName }}</mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-spacer height="12px" />

        <mj-text align="center" font-size="16px">Hi {{ user.firstName }},</mj-text>

        <mj-spacer height="12px" />

        <mj-text align="center">
          Your password-reset link is:
        </mj-text>

        <mj-spacer height="12px" />

        <mj-text align="center">
          <a href="{{ passwordResetLink }}" data-test-id="password-reset-link">{{ passwordResetLink }}</mj-text>
        </mj-text>

        <mj-spacer height="12px" />
      </mj-column>
    </mj-section>

    <mj-section background-color="#f8fafc">
      <mj-column>
        <mj-text align="center" font-size="10px" color="black">&copy; {{ applicationName }} {{ currentYear }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
