<mjml>
  <mj-body>
    <mj-section background-color="#fafafa">
      <mj-column>
        <mj-text align="center" font-size="16px" color="black">{{ applicationName }}</mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text>Hi {{ user.firstName }},</mj-text>
        <mj-text>
          Your password-reset link is:
        </mj-text>
        <mj-text>
          <a href="{{ passwordResetLink }}" data-test-id="password-reset-link">{{ passwordResetLink }}</mj-text>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column>
        <mj-text align="center" font-size="10px" color="black">&copy; {{ applicationName }} {{ currentYear }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
